@import 'src/styles/variables';

.measure {
  position: absolute;
  top: 5%;
  left: 60px;
  height: 320px;
}

.levels {
  width: 73px;
  position: absolute;
  top: 56px;
  left: 143px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.levelRuby {
  height: 47px;
  border-radius: 4px;
  background: $rubyBackground;
}

.levelRubyActive {
  background: $rubyActiveBackground;
}

.ruby {
  width: 80%;
  position: absolute;
  z-index: 1;
  top: -7px;
  left: 10%;
}

.rubyGlow {
  width: 100%;
  position: absolute;
  top: -20px;
  left: 0;
}

.level {
  position: relative;

  &::before {
    position: absolute;
    left: 2px;
    top: 2px;
    content: '';
    display: block;
    height: 3px;
    width: calc(100% - 4px);
    background: $blockGlow;
  }

  &::after {
    position: absolute;
    right: 2px;
    top: 2px;
    content: '';
    display: block;
    width: 3px;
    height: calc(100% - 4px);
    background: $blockGlow;
  }
  &:nth-of-type(1) {
    height: 24px;
    background-color: $block1;
  }
  &:nth-of-type(2) {
    height: 25px;
    background-color: $block2;
  }
  &:nth-of-type(3) {
    height: 30px;
    background-color: $block3;
  }
  &:nth-of-type(4) {
    height: 35px;
    background-color: $block4;
  }
  &:nth-of-type(5) {
    height: 40px;
    background-color: $block5;
  }
  &:nth-of-type(6) {
    height: 45px;
    background-color: $block6;
  }
  &:nth-of-type(7) {
    height: 50px;
    background-color: $block7;
  }
}

.levelActive {
  &:nth-of-type(1) {
    background-color: $blockActive1;
  }
  &:nth-of-type(2) {
    background-color: $blockActive2;
  }
  &:nth-of-type(3) {
    background-color: $blockActive3;
  }
  &:nth-of-type(4) {
    background-color: $blockActive4;
  }
  &:nth-of-type(5) {
    background-color: $blockActive5;
  }
  &:nth-of-type(6) {
    background-color: $blockActive6;
  }
  &:nth-of-type(7) {
    background-color: $blockActive7;
  }
}
