$black: #000000;
$white: #ffffff;
$green: rgba(0, 211, 85, 1);
$buttonBackground: #ff42e0;
$rubyBackground: linear-gradient(
  180deg,
  #b676cb 0%,
  rgba(255, 255, 255, 0) 100%
);
$block1: #d1defb;
$block2: #b7c8ed;
$block3: #94aadc;
$block4: #7593d6;
$block5: #5878be;
$block6: #3a5ca5;
$block7: #254b9d;
$blockGlow: rgba(255, 255, 255, 0.3);
