$black: #000000;
$white: #ffffff;
$red: #ff4646;
$green: #00d355;
$buttonBackground: #ff42e0;
$buttonActiveBackground: #ffdf35;
$buttonActiveColor: #bb20a2;
$rubyBackground: linear-gradient(180deg, #b676cb 0%, #000000 100%);
$rubyActiveBackground: linear-gradient(180deg, #ff9494 0%, #ff0101 100%);
$block1: #d1defb;
$block2: #b7c8ed;
$block3: #94aadc;
$block4: #7593d6;
$block5: #5878be;
$block6: #3a5ca5;
$block7: #254b9d;
$blockActive1: #f65a5a;
$blockActive2: #ff784e;
$blockActive3: #ffae4e;
$blockActive4: #ffdf35;
$blockActive5: #91e508;
$blockActive6: #00d355;
$blockActive7: #00b047;
$blockGlow: rgba(255, 255, 255, 0.3);
